.myCardsRowClass {
    padding-left: 60px;
}
.playerTableCol {
    border: 1px solid black;
}
.cardCol {
    min-height: 120px;
    /* border: 1px solid black; */
}
.cardWonCol {
    padding-left: 1px;
    padding-right: 1px;
}
.nameCol {
    min-height: 50px;
    /* border: 1px solid black; */
}
.makePromiseButton {
    margin: 5px;
}
.promiseTableHeader {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-bottom: solid black 1px;
    font-size: smaller;
}
.promiseTableCol {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-bottom: dotted grey 1px;
    font-size: smaller;
}
.scoreboardTableHeader {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-bottom: solid black 1px;
    font-size: smaller;
}
.scoreboardTableCol {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-bottom: dotted grey 1px;
    font-size: smaller;
}
.promiseKept {
    font-weight: bold;
    color: darkgreen;
}
.promiseOver {
    color: darkred;
}
.promiseUnder {
    font-weight: bold;
    color: olive;
}
.gamePromiseKeeping {
    font-weight: bolder;
}
.gamePromiseOver {
    color: darkred;
}
.gamePromiseUnder {
    color: olive;
}
.chatTextBox {
    font-size: xx-small;
}

.thinkingred {
    background: rgba(255, 82, 82, 1);
    border-radius: 100%;
    margin: 30px;
    height: 40px;
    width: 40px;

    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    transform: scale(1);
    animation: pulsered 2s infinite;
}
@keyframes pulsered {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.thinkinggreen {
    background: rgb(00, 255, 00);
    border-radius: 100%;
    margin: 30px;
    height: 40px;
    width: 40px;

    box-shadow: 0 0 0 0 rgba(00, 255, 00, 1);
    transform: scale(1);
    animation: pulsegreen 2s infinite;
}
@keyframes pulsegreen {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(00, 255, 00, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(00, 255, 00, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(00, 255, 00, 0);
    }
}

