html {
    font-size: 125%;
}

.myCardsRowClass {
    padding-left: 60px;
}
.playerTableCol {
    border: 1px solid black;
}
.cardCol {
    min-height: 112px;
    padding: 0px;
    /* border: 1px solid black; */
}
@media (max-height: 850px) {
    .html-sm {
      font-size: 100%;
    }
    .cardCol-sm {
        min-height: 92px;
        padding: 0px;
        /* border: 1px solid black; */
    }
}
.trumpCardCol {
    text-align: center;
}
.firstCardCol {
    padding-left: 20px;
}
.playedCardCol {
    padding-left: 30px;
}
.lastCardCol {
    min-width: 85px;
}
.cardWonCol {
    padding-left: 1px;
    padding-right: 1px;
}
.nameCol {
    min-height: 40px;
    /* border: 1px solid black; */
}
.dealer {
    font-weight: bold;
}
.dealer::before {
    content:url('/img/dealerchip.svg');
    width: 30px;
    height: 30px;
    padding: 3px;
    display: inline-flex;
}
.trumpNameCol {
    text-align: center;
}
.playerInfoCol {
    white-space: nowrap;
    overflow: visible;
    display: inline-block;
}
.promiseButtons {
    white-space: nowrap;
    overflow: visible;
    display: inline-block;
}
.makePromiseButton {
    margin-left: 3px;
    margin-right: 3px;
}
.promiseTableHeader {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-bottom: solid black 1px;
    font-size: small;
}
.promiseTableCol {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-bottom: dotted grey 1px;
    font-size: small;
}
.scoreboardTableHeader {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-bottom: solid black 1px;
    font-size: smaller;
}
.scoreboardTableCol {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-bottom: dotted grey 1px;
    font-size: smaller;
}
.promiseKept {
    font-weight: bold;
    color: darkgreen;
}
.promiseOver {
    color: darkred;
}
.promiseUnder {
    font-weight: bold;
    color: olive;
}
.gamePromiseKeeping {
    font-weight: bolder;
}
.gamePromiseOver {
    color: darkred;
}
.gamePromiseUnder {
    color: olive;
}
.chatTextBox {
    font-size: small;
}

.thinkingred {
    background: rgba(255, 82, 82, 1);
    border-radius: 100%;
    margin: 30px;
    height: 40px;
    width: 40px;

    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    transform: scale(1);
    animation: pulsered 2s infinite;
}
@keyframes pulsered {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.thinkinggreen {
    background: rgb(00, 255, 00);
    border-radius: 100%;
    margin: 30px;
    height: 40px;
    width: 40px;

    box-shadow: 0 0 0 0 rgba(00, 255, 00, 1);
    transform: scale(1);
    animation: pulsegreen 2s infinite;
}
@keyframes pulsegreen {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(00, 255, 00, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(00, 255, 00, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(00, 255, 00, 0);
    }
}

