html {
    font-size: 125%;
}

/* .gridContainer {
    display: grid;
    grid-template-columns: ;
} */
.inner-row {
    margin-right: 0px;
    margin-left: 0px;
}
.myCardsRowClass {
    padding-left: 60px;
}
.playerTableCol {
    border: 1px solid black;
}
.cardCol {
    min-height: 112px;
    padding: 0px;
    /* border: 1px solid black; */
}
@media (max-height: 850px) {
    .html-sm {
      font-size: 100%;
    }
    .cardCol-sm {
        min-height: 92px;
        padding: 0px;
        /* border: 1px solid black; */
    }
}
.nav>a {
    padding-top: 3px;
    padding-bottom: 3px;
}
.trumpCardCol {
    text-align: center;
}
.firstCardCol {
    padding-left: 20px;
}
.playedCardCol {
    padding-left: 30px;
}
.lastCardCol {
    min-width: 85px;
}
.cardWonCol {
    padding-left: 1px;
    padding-right: 1px;
}
.nameCol {
    min-height: 40px;
    /* border: 1px solid black; */
}
.dealer {
    font-weight: bold;
}
.dealer::before {
    content:url('/img/dealerchip.svg');
    width: 30px;
    height: 30px;
    padding: 3px;
    display: inline-grid;
    /* display: inline-flex; */
}
.trumpNameCol {
    text-align: center;
}
.promisedTotalCol {
    text-align: center;
    margin-top: 15px;
}
.speedPromiseCol {
    text-align: center;
    margin-top: 15px;
}
.playerInfoCol {
    white-space: nowrap;
    overflow: visible;
    display: inline-block;
}
.promiseButtons {
    white-space: nowrap;
    overflow: visible;
    display: inline-block;
}
.makePromiseButton {
    margin-left: 3px;
    margin-right: 3px;
}
.stats-col {
    font-size: smaller;
}
.promiseTableHeader {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-bottom: solid black 1px;
    font-size: small;
}
.promiseTableCol {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-bottom: dotted grey 1px;
    font-size: small;
}
.scoreboardTableHeader {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-bottom: solid black 1px;
    font-size: smaller;
}
.scoreboardTableCol {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-bottom: dotted grey 1px;
    font-size: smaller;
}
.speedPromiseBonus {
    font-weight: bold;
    color: darkgreen;
}
.speedPromisePenalty {
    color: darkred;
}
.promiseKept {
    font-weight: bold;
    color: darkgreen;
}
.promiseOver {
    color: darkred;
}
.promiseUnder {
    font-weight: bold;
    color: olive;
}
.gamePromiseKeeping {
    font-weight: bolder;
}
.gamePromiseOver {
    color: darkred;
}
.gamePromiseUnder {
    color: olive;
}
.chatTextBox {
    font-size: small;
}
.ruleBoard {
    margin-top: 20px;
    margin-left: 10px;
    font-size: small;
}
.tooltip-inner.tooltip-wide {
    width: 800px !important;
    min-width: 800px !important;
}
.thinkingred {
    background: rgba(255, 82, 82, 1);
    border-radius: 100%;
    margin: 30px;
    height: 40px;
    width: 40px;

    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    transform: scale(1);
    animation: pulsered 2s infinite;
}
@keyframes pulsered {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.thinkinggreen {
    background: rgb(00, 255, 00);
    border-radius: 100%;
    margin: 30px;
    height: 40px;
    width: 40px;

    box-shadow: 0 0 0 0 rgba(00, 255, 00, 1);
    transform: scale(1);
    animation: pulsegreen 2s infinite;
}
@keyframes pulsegreen {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(00, 255, 00, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(00, 255, 00, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(00, 255, 00, 0);
    }
}

.thinking-red-div {
    border-color: rgba(255, 82, 82, 1);
    outline: rgba(255, 82, 82, 1) solid 1px;
    animation: pulseRedBorder 2s infinite;
}
@keyframes pulseRedBorder {
    0% {
        outline: rgba(255, 82, 82, 1) solid 1px;
    }
    50% {
        outline-color: rgba(255, 82, 82, 0.4);
    }
    100% {
        outline: rgba(255, 82, 82, 0) solid 15px;
    }
}
.thinking-green-div {
    border-color: rgb(00, 255, 00);
    outline: rgba(00, 255, 00, 1) solid 1px;
    animation: pulseGreenBorder 2s infinite;
}
@keyframes pulseGreenBorder {
    0% {
        outline: rgba(00, 255, 00, 1) solid 1px;
    }
    50% {
        outline-color: rgba(00, 255, 00, 0.4);
    }
    100% {
        outline: rgba(00, 255, 00, 0) solid 15px;
    }
}

.charge-black-div {
    outline: rgba(0, 0, 0, 1) solid 1px;
    animation: pulseBlackBorder 1s infinite;
}
@keyframes pulseBlackBorder {
    0% {
        outline: rgba(0, 0, 0, 1) solid 1px;
    }
    50% {
        outline-color: rgba(0, 0, 0, 0.4);
    }
    100% {
        outline: rgba(0, 0, 0, 0) solid 5px;
    }
}

.winning-yellow-div {
    outline: rgba(238, 238, 0, 1) solid 1px;
    animation: pulseYellowBorder 1s infinite;
}
@keyframes pulseYellowBorder {
    0% {
        outline: rgba(238, 238, 00, 1) solid 1px;
    }
    50% {
        outline-color: rgba(238, 238, 00, 0.4);
    }
    100% {
        outline: rgba(238, 238, 00, 0) solid 10px;
    }
}
